.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: 5em;
  margin-bottom: 5px;
  border-radius: 20px;
  width: 400px;
  background-color: rgba(85, 87, 96, 0.559) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ddddf4;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #a5caf5;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.color-text {
  color: white;
}

.login_btn {
  color: black;
  background-color: #a5caf5;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

@media (max-width: 760px) {

  html,
  body {

    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  }
}