*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-image: url('/assets/background.jpg');
  background-size:center;
  background-repeat: no-repeat;
    overflow: hidden;
background-size: cover;
height: 518px;
  position: center;

  font-family: 'Raleway', sans-serif;

}

.container{

  position: absolute;
  left: 25%;
  width: 100%;
  max-width: 650px;
  height: 760px;
  /*background: rgba(0, 0, 0, 0.5);*/
  padding: 28px;
  margin: 0 28px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.55rem;

  background-color: rgba(85, 87, 96, 0.559) !important;
  zoom: 67%;
    left: 30%;

}


ngb-rating {
  color: #FFC107;
  font-size: 80px;

  margin-left: 20%;

}
.card {
  position: relative;
    height: 220px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: rgb(254, 254, 254);
    width: 80%;
    border-radius: 20px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #0000006b;

  }
  .user-input-box{
    padding-left: 50px;

    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
  }
  .input-icons i {
    position: absolute;
    font-size: 25px;
  }



  .icon {
    padding: 10px;
    min-width: 40px;
    margin-left:480px;
    margin-top:2%;


  }

  .input-field {
    width: 100%;
    padding: 10px;
    text-align:center;

  }
.logo{
  width: 120px;
  display: block;
  margin-left: 230px;
   margin-right: auto;
}
.feedback{
  border-radius: 10px;
  height: 70px;
   margin-left: 10%;
   width: 480px;
   text-align: center;
}
.submit{
  font-size: 30px;
  margin: 30px 0;
  background-color: rgb(255, 255, 255);
  text-size-adjust: 15px;
  height: 45px;
  width: 350px;
  border-radius: 15px;
  margin-left: 20%;
}
.thank{
  text-align: center;
   color: white;
}
.last{
  text-align: right ;
  border-bottom: 1px solid #ffffff;
}
.message{
  text-align: center;
  margin-top: 20px;
   color: rgb(45, 45, 45);
}

