<head>

</head>
<body>
  <div class="container">
    <div class="card">
      <h3 class="adress"><b> 187 TUNIS 9110</b></h3>
      <button type="button" class="btn btn-success pick" [disabled]="test">Start the PickUp</button>
      <div class="horizental-ligne"></div>
      <p class="dep">Departure</p>
      <h4 class="date">Monday, 20 Nov 22-12:33</h4>

      <img class="QR" src="assets/QRcode.PNG" >
      <div style="display:flex ">
        <p class="status"><b>Status</b></p>
         <p [ngClass]="test== false ? 'pick-orange' : 'pick-green'"><b>wating for moving</b></p>
      </div>
      <div *ngIf="test" style="display:flex ">
        <p class="info"><b>Information</b></p>

         <P class="blue-sign-right"><b>23:13</b></P>
         <P class="blue-sign-left"><b>23:13</b></P>

      </div>
    </div>
  </div>
</body>
