*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-image: url('/assets/background.jpg');
  background-size:center;
  background-repeat: no-repeat;
    overflow: hidden;
background-size: cover;
height: 518px;
  position: center;

  font-family: 'Raleway', sans-serif;

}

.container{

  position: absolute;
  left: 25%;
  width: 100%;
  max-width: 650px;
  height: 760px;
  /*background: rgba(0, 0, 0, 0.5);*/
  padding: 28px;
  margin: 0 28px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.55rem;

  background-color: rgba(85, 87, 96, 0.559) !important;
  zoom: 67%;
    left: 30%;

}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 25px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #0000006b;

}
.card {
position: relative;
  height: 440px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: rgb(254, 254, 254);
  width: 80%;
  border-radius: 20px;
  margin-top: 50px;
}
.adress{
  text-align: center;
  margin-top: 70px;
  color: white;
  border: 1px solid black;
  padding: 13px;
}
.info-ask{
  text-align: center;
   color: white;
}
.last-ligne{
  text-align: right ;
  border-bottom: 1px solid #ffffff;
}
