<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="container">
    <h2 class="info-ask"><b>Your informations</b></h2>
    <div>
      <h3 class="adress">187 TUNIS 9110</h3>
    </div>
    <div class="card" >
      <table >

        <tr >
          <td ><b>Name</b></td>

          <td style="text-align: right ;">Falten</td>
        </tr>
        <tr>
          <td ><b>Surname</b></td>

          <td style="text-align: right ;">Foulen</td>
        </tr>
        <tr>
          <td><b>phone</b></td>

          <td style="text-align: right ;">+216 22 446 488</td>
        </tr>
        <tr>
          <td><b>ID of Contract</b></td>

          <td style="text-align: right ;">918909</td>
        </tr>
        <tr>
          <td><b>Type of Contract</b></td>

          <td style="text-align: right ;">Confort</td>
        </tr>
        <tr>
          <td><b>Starting Date</b></td>

          <td style="text-align: right ;">O8/O1/2022</td>
        </tr>
        <tr>
          <td><b>Ending Date</b></td>

          <td style="text-align: right ;">O8/O1/2023</td>
        </tr>
        <tr>
          <td><b>Type of Car</b></td>

          <td style="text-align: right ;">Mazda3</td>
        </tr>
        <tr>
          <td><b>Mileage</b></td>

          <td style="text-align: right ;">330400 KM</td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid #ffffff;"><b>Adress</b></td>

          <td class="last-ligne">123 Rue Azzouz Rebai, Tunis</td>
        </tr>
      </table>
    </div>
  </div>
</body>
