

  <div class="container">
    <h2 class="info-ask"><b>Your informations</b></h2>
    <div>
      <h3 class="adress">187 TUNIS 9110</h3>
    </div>
    <div class="card" >
      <table >

        <tr >
          <td ><b>Name</b></td>

          <td style="text-align: right ;">{{name}}</td>
        </tr>
        <tr>
          <td ><b>Surname</b></td>

          <td style="text-align: right ;">{{surname}}</td>
        </tr>
        <tr>
          <td><b>phone</b></td>

          <td style="text-align: right ;">{{phone}}</td>
        </tr>
        <tr>
          <td><b>ID of Contract</b></td>

          <td style="text-align: right ;">{{contractId}}</td>
        </tr>
        <tr>
          <td><b>Type of Contract</b></td>

          <td style="text-align: right ;">{{contractType}}</td>
        </tr>
        <tr>
          <td><b>Starting Date</b></td>

          <td style="text-align: right ;">{{startingDate}}</td>
        </tr>
        <tr>
          <td><b>Ending Date</b></td>

          <td style="text-align: right ;">{{endingDate}}</td>
        </tr>
        <tr>
          <td><b>Type of Car</b></td>

          <td style="text-align: right ;">{{carType}}</td>
        </tr>
        <tr>
          <td><b>Mileage</b></td>

          <td style="text-align: right ;">{{mileAge}} KM</td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid #ffffff;"><b>Adress</b></td>

          <td class="last-ligne">{{adress}}</td>
        </tr>
      </table>
    </div>
  </div>

