<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="container">
    <h2 style="text-align: center; color: white;"><b>Your informations</b></h2>
    <div>
      <h3 style="text-align: center;margin-top: 70px;color: white;border: 1px solid black; padding: 13px; ">187 TUNIS 9110</h3>
    </div>
    <div class="card" style="margin-top: 50px;">
      <table style="margin-top: 25px;">

        <tr >
          <td ><b>Name</b></td>

          <td style="text-align: right ;">Falten</td>
        </tr>
        <tr>
          <td ><b>Surname</b></td>

          <td style="text-align: right ;">Foulen</td>
        </tr>
        <tr>
          <td><b>phone</b></td>

          <td style="text-align: right ;">+216 22 446 488</td>
        </tr>
        <tr>
          <td><b>ID of Contract</b></td>

          <td style="text-align: right ;">918909</td>
        </tr>
        <tr>
          <td><b>Type of Contract</b></td>

          <td style="text-align: right ;">Confort</td>
        </tr>
        <tr>
          <td><b>Starting Date</b></td>

          <td style="text-align: right ;">O8/O1/2022</td>
        </tr>
        <tr>
          <td><b>Ending Date</b></td>

          <td style="text-align: right ;">O8/O1/2023</td>
        </tr>
        <tr>
          <td><b>Type of Car</b></td>

          <td style="text-align: right ;">Mazda3</td>
        </tr>
        <tr>
          <td><b>Mileage</b></td>

          <td style="text-align: right ;">330400 KM</td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid #ffffff;"><b>Adress</b></td>

          <td style="text-align: right ;border-bottom: 1px solid #ffffff;">123 Rue Azzouz Rebai, Tunis</td>
        </tr>
      </table>
    </div>

<!--<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
  <th>Savings</th>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td>Griffin</td>
    <td>$150</td>
  </tr>
  <tr>
    <td>Joe</td>
    <td>Swanson</td>
    <td>$300</td>
  </tr>
  <tr>
    <td>Cleveland</td>
    <td>Brown</td>
    <td>$250</td>
  </tr>
</table>-->

  </div>
</body>
