
  <form action="#">

    <div class="user-input-box">
      <label for="location">Heure de Début *</label>
      <div class="input-icons">

        <input class="input-field" type="time" id="location" name="location" placeholder="Enter your location " />
    </div>
    </div>
    <div class="user-input-box">
      <label for="destination">Heure De Fin *</label>
      <div class="input-icons">

      <input class="input-field" type="time" id="destination" name="destination"placeholder="Enter your destination" />
    </div>
    </div>


    <div class="user-input-box ">
      <label for="phone">Date *</label>
      <div class="input-icons">

      <input class="input-field" type="date" id="phone" name="phone"  placeholder="Write your phone"  />
    </div>
    </div>




  <div class="user-input-box">
    <label for="typeaccident">What type of situation ? *</label>

    <select name="cars" id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
</div>
    <div style="height:100px" class="user-input-box"  >
      <div class="div-style">
        <input type="submit" value="Confirm" class="submit" >
     </div>
  </div>
  <input id="appt-time" type="time" name="appt-time" value="13:30" >
</form>

