<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login-PurrfectMatch</title>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
  integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/animals-7/24/Cat-512.png" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/image.css' rel='stylesheet'>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-md navbar-light bg-light " style="background-color: #1b85d2;">

      <!--<a class="navbar-brand" href="#"><i class="fas fa-dog"></i>TinDog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <img style="width: 38px; height: auto;border-radius: 10px;margin-left: 30px; "src="assets/logo.png" alt="Tunidesign logo">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
<!--<li class="nav-item"  >
          <div class="main_box" >
            <input type="checkbox" id="check">
            <div class="btn_one">
              <label for="check">
                <i class="fas fa-bars" style="color: black;"></i>
              </label>
            </div>
            <div class="sidebar_menu">
              <div class="logo">
                <a href="#">Menu</a>
                  </div>
                <div class="btn_two">
                  <label for="check">
                    <i class="fas fa-times"></i>
                  </label>
                </div>
              <div class="menu">
                <ul>
                  <li><i class="fa fa-edit"></i>
                    <a href="createProfile">Modifier Profile</a>
                  </li>
                  <li>
                    <i class="fa fa-plus"></i>
                    <a href="createProfileDog">Ajouter Un Chien </a>
                  </li>
                  <li>
                    <i class="fas fa-dog"></i>
                    <a href="profile">Vos Chiens </a>
                  </li>
                  <li>
                    <i class="fas fa-question-circle"></i>
                    <a href="#">About</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </li>
          <li  class="nav-item" style="margin-left: 200px;">
            <a class="nav-link" href="sendPicture"> <i class=" gg-image"
                style="font-size:25px; align-content: center;"></i></a>
                 <a class="nav-link" href="home/">About</a>-->


          <li  class="nav-item " style="margin-left: 1100px;">
            <a class="nav-link active" href="/share"><i class="fa fa-user"
              style="font-size:25px; align-content: center;"></i> </a>
          </li>
        </ul>
      </div>

  </nav>

  <router-outlet></router-outlet>
