

<body>
  <div class="container">
    <h4 class="share"><b>Share your informations</b></h4>
    <p class="ask">Please share your informations to help you </p>
    <img class="image" src="assets/gps.jpg" >

    <form action="#">

        <div class="user-input-box">
          <label for="location">Pick Up Location *</label>
          <div class="input-icons">
            <i class="fa fa-map-marker icon"></i>
            <input class="input-field" type="text" id="location" name="location" placeholder="Enter your location " [(ngModel)]="pickUpLocation"/>
        </div>
        </div>
        <div class="user-input-box">
          <label for="destination">Destination *</label>
          <div class="input-icons">
            <i class="fa fa-map-marker icon"></i>
          <input class="input-field" type="text" id="destination" name="destination"placeholder="Enter your destination" [(ngModel)]="destination"/>
        </div>
        </div>

    <div style="display:flex ;">
        <div class="user-input-box ">
          <label for="phone">Phone *</label>
          <div class="input-icons">
          <i class="fa fa-phone icon"></i>
          <input class="input-field" type="text" id="phone" name="phone" style="width: 200px;" placeholder="Write your phone" [(ngModel)]="phone"  />
        </div>
        </div>

        <div class="user-input-box" >
          <label for="poeple">Poeple *</label>
          <div class="input-icons">
            <i class="fa fa-users icon"></i>
          <input class="input-field" style="width: 200px;" type="number" id="poeple" name="poeple" placeholder="How many poeple"  min="1" max="5" [(ngModel)]="people"/>
        </div>
    </div>

      </div>
      <div class="user-input-box">
        <label for="typeaccident">What type of situation ? *</label>
      </div>
        <div class="gender-category">
            <input type="radio" name="accident" id="accident" value="accident" class="radio1" [(ngModel)]="situationType" >
            <label style="color:white;" for="male" style="">Accident</label>
            <input type="radio" name="breakdown" id="breakdown" value="breakDown" class="radio2" [(ngModel)]="situationType">
            <label style="color:white" for="female">BreakDown</label>
          </div>

        <div style="height:100px" class="user-input-box"  >
          <div class="div-style">
            <input type="submit" value="Confirm" class="submit" (click)="confirm()">
         </div>
      </div>
    </form>
  </div>
</body>

