

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<h2 style="text-align: center; color: white;">Share your informations please</h2>

<div class="col-6 offset-3">
<span>

</span>
</div>
<div class="container">

  <form (submit)="saveOrder()" [formGroup]="registerForm">
    <div style="display:flex ;  margin-left: 60px;
   ">
    <div class="row form-group">
      <div class="col-25">
        <label for="location" style="color: white;margin-left: 20px;"> Location </label>
      </div>
      <div class="col-75">
        <input class="form-control" style="margin-left: 20px;"
        ngx-google-places-autocomplete
        [options]="options"
        (onAddressChange)="handleAddressChangeLocation($event)"
         class="form-control"
         formControlName="location"  value="{{currentAdress}}">
          <div *ngIf="messageR!=''" class="text-danger" [ngClass]="{'is-invalid':submitted && registerForm.controls.location.errors }">

              {{messageR}}
            </div>
    </div>
    </div>



    <div class="row">
      <div class="col-25">
        <label for="destination" style="color: white;margin-left: 50px;">Destination </label>
      </div>
      <div class="col-75">
        <input class="form-control"  style="margin-left: 60px;"
        ngx-google-places-autocomplete
        [options]="options"
        (onAddressChange)="handleAddressChangeDestination($event)"
         class="form-control"
        [ngClass]="{'is-invalid':submitted && registerForm.controls.destination.errors}" formControlName="destination">
          <div *ngIf="submitted && registerForm.controls.destination.errors" class="text-danger">
            <div *ngIf="submitted && registerForm.controls.destination.errors.required">
              Destination is required
            </div>
    </div>
      </div>
    </div>
  </div>

    <div style="margin-left: 300px;"  >
      <google-map>

        <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"

      >
      </map-marker>
     <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
                               [directions]="directionsResults"></map-directions-renderer>


      </google-map>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="phone" style="color: white;">Phone *</label>
      </div>
      <div class="col-75">
        <form #f="ngForm" [formGroup]="phoneForm">
          <ngx-intl-tel-input [(ngModel)]="this.tel"
          [cssClass]="'custom'"
          [preferredCountries]="['sg']"

          [enablePlaceholder]="true"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [preferredCountries]="[CountryISO.Tunisia]"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
          [phoneValidation]="true"




          name="phone"
          formControlName="phone"></ngx-intl-tel-input>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="people" style="color: white;">People *</label>
      </div>
      <div class="col-75">
        <input class="input-field" style="width: 200px;" type="number" id="people" name="people" placeholder="How many people"  min="1" max="8" [(ngModel)]="order.people" class="form-control"
        [ngClass]="{'is-invalid':submitted && registerForm.controls.people.errors}" formControlName="people"  >
          <div *ngIf="submitted && registerForm.controls.people.errors" class="text-danger">
            <div *ngIf="submitted && registerForm.controls.people.errors.required">
              Number of people is required
            </div>
      </div>
      </div>
    </div>
 <!--   <div class="row">
      <div class="col-25">
        <label for="matricule" style="color: white;">Registration number *</label>
      </div>
      <div class="col-75">
        <input class="input-field" type="number" id="matricule" name="matricule" placeholder="Your Registration number .." [(ngModel)]="order.idVehicule" class="form-control"
        [ngClass]="{'is-invalid':submitted && registerForm.controls.matricule.errors}" formControlName="matricule"  >
          <div *ngIf="submitted && registerForm.controls.matricule.errors" class="text-danger">
            <div *ngIf="submitted && registerForm.controls.matricule.errors.required">
              Registration number is required
            </div>
            </div>
      </div>
    </div>-->


    <div class="row">
      <div class="col-25">
      <label for="immatriculationType" style="color:white">Type d'immatriculation</label>
    </div>
    <div class="col-75">
      <select class="form-select" formControlName="registrationType" id="immatriculationType"
          (change)="onRegistrationTypeChange($event)"  >

          <option *ngFor="let registrationType of registrationTypes" [value]="registrationType.id" >
              {{registrationType.value}}
          </option>
      </select>
  </div>
</div>
<form>
<div  class="row" *ngIf="immatType==1" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>

     <input placeholder="N°" type="number"  [(ngModel)]="this.order.numImmatriculation"  id="numImmatriculation" name="numImmatriculation">
     <label style="color:white">TU </label>
     <input placeholder="Série" type="number" [(ngModel)]="this.order.serie">
    </span>
  </div>
  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <input placeholder="N°" type="number">
      <label style="color:white">TU </label>
      <input placeholder="Série" type="number">
    </span>
  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
     <input placeholder="XXXXX"  [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==2" style=" border: 3px rgb(255, 255, 255) groove;" >
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">ن ت</label>
     <input placeholder="xxxxxx" [(ngModel)]="this.order.numImmatriculation" >
     <label style="color:white">RS </label>
    </span>
  </div>

  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*)</label>
    <span>
      <label style="color:white">ن ت</label>
     <input placeholder="xxxxxx">
     <label style="color:white">RS </label>
    </span>

  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*)</label>
    <span>
      <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==3" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">د ن</label>
     <input placeholder="xxxxxx" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white">MOTO </label>
    </span>
  </div>

  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*)</label>
    <span>
      <label style="color:white">د ن</label>
     <input placeholder="xxxxxx">
     <label style="color:white">MOTO </label>
    </span>

  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*)</label>
    <span>
      <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>

</form>
<form>
<div class="row" *ngIf="immatType==4" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">ج ف</label>
     <input placeholder="xxxxxx" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white">TRAC  </label>
    </span>
  </div>

  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*)</label>
    <span>
      <label style="color:white">ج ف</label>
     <input placeholder="xxxxxx">
     <label style="color:white">TRAC  </label>
    </span>

  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*)</label>
    <span>
      <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>

</form>
<form>
<div class="row" *ngIf="immatType==5" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
     <input placeholder="XXXX" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white">PAT م أ ف  </label>
     <input placeholder="XXXX" [(ngModel)]="this.order.serie">
    </span>
  </div>
  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <input placeholder="XXXX">
      <label style="color:white">PAT م أ ف  </label>
      <input placeholder="XXXX">
    </span>
  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
     <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>

<div class="row" *ngIf="immatType==6" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
     <input placeholder="XXXX" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white"> CMD ر ب د </label>
     <input placeholder="XXXX" [(ngModel)]="this.order.serie">
    </span>
  </div>
  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <input placeholder="XXXX">
      <label style="color:white"> CMD ر ب د </label>
      <input placeholder="XXXX">
    </span>
  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
     <input placeholder="XXXXX"  [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==7" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
     <input placeholder="XXXX" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white"> CD س د </label>
     <input placeholder="XXXX" [(ngModel)]="this.order.serie">
    </span>
  </div>
  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <input placeholder="XXXX">
      <label style="color:white"> CD س د </label>
      <input placeholder="XXXX">
    </span>
  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
     <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==8" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
     <input placeholder="XXXX" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white"> MD ب د</label>
     <input placeholder="XXXX"  [(ngModel)]="this.order.serie">
    </span>
  </div>
  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <input placeholder="XXXX">
      <label style="color:white">MD ب د</label>
      <input placeholder="XXXX">
    </span>
  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
     <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==9" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
     <input placeholder="XXXX" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white"> MC ث ق</label>
     <input placeholder="XXXX"  [(ngModel)]="this.order.serie">
    </span>
  </div>
  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <input placeholder="XXXX">
      <label style="color:white">MC ث ق</label>
      <input placeholder="XXXX">
    </span>
  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
     <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==10" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
     <input placeholder="XXXX"  [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white"> CC س ق</label>
     <input placeholder="XXXX"  [(ngModel)]="this.order.serie">
    </span>
  </div>
  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <input placeholder="XXXX">
      <label style="color:white">CC س ق</label>
      <input placeholder="XXXX">
    </span>
  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
     <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>

<div class="row" *ngIf="immatType==11" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">ع م</label>
     <input placeholder="xxxxxx" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white">REM  </label>
    </span>
  </div>

  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">ع م</label>
      <input placeholder="xxxxxx">
      <label style="color:white">REM  </label>
    </span>

  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
      <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==12" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">أ ف</label>
     <input placeholder="xxxxxx" [(ngModel)]="this.order.numImmatriculation">
     <input placeholder="xxxxxx" >
     <label style="color:white">AA </label>
    </span>
  </div>

  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">أ ف</label>
     <input placeholder="xxxxxx">
     <label style="color:white">AA </label>
    </span>

  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
      <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==13" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">م خ</label>
     <input placeholder="xxxxxx" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white">ES </label>
    </span>
  </div>

  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">م خ</label>
      <input placeholder="xxxxxx">
      <label style="color:white">ES </label>
    </span>

  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
      <input placeholder="XXXXX"  [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==14" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
     <input placeholder="XXXXXX" [(ngModel)]="this.order.numImmatriculation">
     <label style="color:white"> -PE</label>
     <input placeholder="XX" [(ngModel)]="this.order.serie">
    </span>
  </div>
  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <input placeholder="XXXXXX">
      <label style="color:white">-PE</label>
      <input placeholder="XX">
    </span>
  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
     <input placeholder="XXXXX" [(ngModel)]="order.numChassis">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==15" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">ت م</label>
     <input placeholder="xxxxx">
     <label style="color:white">IT </label>
    </span>
  </div>

  <div>
    <label style="color:white">Confirmer le N° d'immatriculation (*):</label>
    <span>
      <label style="color:white">ت م</label>
      <input placeholder="xxxxx">
      <label style="color:white">IT </label>
    </span>

  </div>
  <div>
    <label style="color:white">Tapez les 5 derniers caractères du N° de châssis (*):</label>
    <span>
      <input placeholder="XXXXX">
    </span>
  </div>
</div>
</form>
<form>
<div class="row" *ngIf="immatType==16" style=" border: 3px rgb(255, 255, 255) groove;">
  <div>
    <label style="color:white">Indiquer le N° de châssis (*):</label>
    <span>

     <input >
     <label style="color:white">N° Châssis </label>
    </span>
  </div>

  <div>
    <label style="color:white">Confirmer le N° de châssis (*) :</label>
    <span>
      <input >
      <label style="color:white">N° Châssis </label>
    </span>

  </div>
</div>
</form>

    <div class="row">
      <div class="col-25">
        <label for="isloaded"  style="color: white;">Is it a loaded vehicle?*</label>
      </div>
      <div class="col-75">
        <input type="radio" name="loaded" id="loaded" value="oui"  [(ngModel)]="order.isLoaded"
        [ngClass]="{'is-invalid':submitted && registerForm.controls.loaded.errors}" formControlName="loaded"  >

            <label style="color:white;" for="yes">Yes</label>
            <input type="radio" name="loaded" id="loaded" value="non"  [(ngModel)]="order.isLoaded"
            [ngClass]="{'is-invalid':submitted && registerForm.controls.loaded.errors}" formControlName="loaded"  >

            <label style="color:white" for="no">No</label>
            <div *ngIf="submitted && registerForm.controls.loaded.errors" class="text-danger">
              <div *ngIf="submitted && registerForm.controls.loaded.errors.required">
                 it is required
              </div>
              </div>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="type"  style="color: white;">What Type of situation*</label>
      </div>
      <div class="col-75">
        <input type="radio" name="type" id="type" value="accident"  [(ngModel)]="order.breakdownType"
        [ngClass]="{'is-invalid':submitted && registerForm.controls.type.errors}" formControlName="type"  >

            <label style="color:white;" for="accident">Accident</label>
            <input type="radio" name="type" id="type" value="panne"  [(ngModel)]="order.breakdownType"
            [ngClass]="{'is-invalid':submitted && registerForm.controls.type.errors}" formControlName="type" >

            <label style="color:white" for="panne">Panne</label>
            <div *ngIf="submitted && registerForm.controls.type.errors" class="text-danger">
              <div *ngIf="submitted && registerForm.controls.type.errors.required">
                Type of situation is required
              </div>
              </div>
      </div>
    </div>


    <div class="row">
      <div class="col-25">
        <label for="details"  style="color: white;">Details *</label>
      </div>
      <div class="col-75">
        <textarea id="details" name="details" placeholder="Write some details please.." style="height:200px" [(ngModel)]="order.breakdownDetails" class="form-control"
        [ngClass]="{'is-invalid':submitted && registerForm.controls.details.errors}" formControlName="details" ></textarea>
          <div *ngIf="submitted && registerForm.controls.details.errors" class="text-danger">
            <div *ngIf="submitted && registerForm.controls.details.errors.required">
             details are required
            </div>

      </div>
    </div>
    </div>

    <div class="row">
      <input type="submit" value="Submit" (click)="saveOrder()">
    </div>
  </form>
</div>
