* {
  box-sizing: border-box;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f215;
  padding: 20px;
}

@media(max-width: 600px){
  .container{
      min-width: 280px;
  }}

.user-input-box{
  padding-left: 50px;

  margin-bottom: 10px;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}
.user-input-box input{
  height: 40px;

  width: 500px;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}
.image-congrats{
  width: 250px;
  display: block;
  margin-left: 400px;
  margin-right: auto;
  margin-top: 30px;
  align-content: center;
}
.process{
  text-align: center;
  color: white;
  margin-top: 20px;
}
.congrats{
  text-align: center;
  color: white;
}
.submit{
  font-size: 30px;
  margin: 30px 0;
  background-color: rgb(255, 255, 255);
  text-size-adjust: 20px;
  height: 50px;
}
.div-style{
  width:500px;
  margin-left: 150px;
  position:absolute;
  align-content: center;
  margin-bottom: 10px;
}
.image{
  width: 200px;
   height: auto;
   border-radius: 10px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60% ;
}
.take-pic{
  color:white;
  font-size: 15px;
  margin-left: 480px;
}
.icon-camera{
  font-size: 90px;
  color:white;
  margin-left: 250px;
}
.pic-gallery{
  color:white;
  font-size: 15px;
  margin-left: 25px
}
.gallery-icon
{
  font-size: 90px;
  color:white;
  margin-left: 40px
}
.ask{
  color:white;
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
}
