
<div *ngIf="test==0">
  <div  class="container">

    <p class="ask">Please share your accident's picture </p>
    <div style="display:flex ; margin: 50px 0; ">
      <div style="margin-left: 200px;">
      <div>
        <button (click)="switch()" class="fas fa-image gallery-icon" style="background-color: rgba(255, 255, 255, 0); border-color: rgba(0, 0, 0, 0); font-size: 50px;"> </button>
      </div>
      <div>
        <label for="fullName" class="pic-gallery"><p>From Gallery</p> </label>
      </div>

      </div>

    <div>
      <div>
      <button (click)="change()" style="font-size: 30px; width: 50px;" class="fas fa-camera icon-camera" style="background-color: rgba(255, 255, 255, 0); border-color: rgba(0, 0, 0, 0); font-size: 50px; margin-left: 500px;"></button>
    </div>
      <div>
      <label for="fullName" class="take-pic"><p>Take a picture</p> </label>
    </div>
    </div>
  </div>



</div>
</div>
<!--<div *ngIf="test">
  <img class="image-congrats" src="assets/ok.png" >
  <h2 class="congrats">Congrats!</h2>
  <h5 class="process">Your Pick Up order is processing...</h5>
</div>-->

<div  *ngIf="test==1">
  <div  class="container">
    <div>
      <span *ngFor="let c of liste" style="margin-left: 120px; font-size: 20px;">

        <button (click)="delete(c)"> <i class="fa fa-close" > </i></button>
     </span>
    </div>
    <div>

    <span *ngFor="let c of liste" style="margin-left: 20px;">

      <img src="{{ c }}" height="150" />
   </span>
  </div>
       <!-- <img [src]="url" style="width:100px; height:100px; object-fit: cover; border-radius: 50%;">-->
              <p *ngIf=!imageOk>Upload your order's pictures *</p>
              <p *ngIf=imageOk>Image uploaded.</p>

          <input id="file-input" type="file" (change)="onselectFile($event)" class="fas fa-camera" />


          <div style="height:100px" class="user-input-box"  >
            <div class="div-style">
              <input type="submit" value="Confirm" class="btn btn-success" (click)="updatePhotos()">
           </div>
        </div>
        </div>


  </div>



<div  *ngIf="test==2">
  <div class="container" style="zoom:50%; max-width: 90%;">
  <h2 style="color: white; text-align: center;">Take some photos Please</h2>
  <input type="submit" value="Confirm" class="btn btn-success" style="margin-left: 1000px; font-size: 24px;" (click)="updatePhotos()">

    <div class="col-md-12 mt-5" style="margin-left: 700px; margin-top: 5px;">
      <webcam
        [trigger]="invokeObservable"
        (imageCapture)="captureImg($event)"
      ></webcam>
    </div>
    <div class="col-md-12">
      <button class="btn btn-danger" style="margin-left: 950px;"  (click)="getSnapshot()">
        Capture Image
      </button>
    </div>
    <div class="col-12">
      <div id="results">Your taken image manifests here...</div>
      <div>
      <span *ngFor="let c of liste" style="margin-left: 580px; font-size: 20px;">

        <button (click)="delete(c)"> <i class="fa fa-close" > </i></button>
     </span>
    </div>
    <div>

       <span *ngFor="let c of liste" style="margin-left: 200px;">

        <img src="{{ c }}" height="300" />
     </span>
    </div>

  </div>


</div>
</div>
<div *ngIf="test==4">
<div class="container">

  <h2 class="congrats">Waiting!</h2>
  <h5 class="process">Your Pick Up order is processing...</h5>
  <div *ngIf="test">
    <mat-spinner [diameter]="70" style="margin-left: 490px;" > hh</mat-spinner>
    <button type="button"  class="btn btn-danger" style="margin-left: 410px;" (click)="cancel()">Cancel Order</button>
    <button type="button"   class="btn btn-success" (click)="confirm()">Confirm Order</button>


  </div>

  </div>
</div>

<div *ngIf="test==5">
  <div class="container">
    <img class="image-congrats" src="assets/ok.png" >
    <h2 class="congrats">Congrats!</h2>
    <h5 class="process">Your Pick Up order is passed</h5>

    </div>
  </div>
  <div *ngIf="test==6">
    <div class="container">

      <h3 class="process">Your Order is canceled </h3>
      <h5 class="process">Thank you for using our application 😘😘 </h5>

      </div>
    </div>



