@import "~bootstrap/dist/css/bootstrap.min.css";
.footer {
  position:absolute;
  bottom:5px;
  width:100%;
  height:30px;
  background-color: rgb(207, 228, 249);
  text-align: center;
  color: rgb(0, 0, 0);
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-image: url('/assets/background.jpg');
  background-size:center;
  background-repeat: no-repeat;
    overflow: hidden;
background-size: cover;
height: 518px;
  position: center;

  font-family: 'Raleway', sans-serif;

}

